Source: gnome-shell-extension-just-perfection
Section: gnome
Priority: optional
Maintainer: Marco Trevisan <marco@ubuntu.com>
Build-Depends: debhelper (>= 10),
               dh-translations,
               eslint <!nocheck>,
               libglib2.0-bin,
               node-chalk <!nocheck>,
               node-js-yaml <!nocheck>,
               node-strip-ansi <!nocheck>,
               libgettextpo-dev,
               gettext,
               sassc,
Standards-Version: 4.1.1
Vcs-Git: https://gitlab.gnome.org/jrahmatzadeh/just-perfection
Vcs-Browser: https://gitlab.gnome.org/jrahmatzadeh/just-perfection
Homepage: https://gitlab.gnome.org/jrahmatzadeh/just-perfection

Package: gnome-shell-extension-just-perfection
Architecture: all
Depends: gnome-shell,
         ${misc:Depends},
         ${shlibs:Depends},
Description: Disable GNOME Shell UI Elements, Change the Behavior and Customize your GNOME Shell Desktop.
